* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    padding-top: 90px;
}

footer {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: #666666;
    line-height: 40px;
    bottom: 0%;
    width: 100%;
}

.fa-brands {
    font-size: x-large;
}

.sidebar {
    display: flex;
    border-radius: 6px;
    height: 380px;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    flex-basis: 300px;
    background: #F0F0F0;
}

.member {
    margin: 50px 0;
}

.member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.member h4 {
    margin-top: 15px;
}

.list-menu {
    bottom: 0px;
    padding: 5px 0;
}

.list-menu :hover {
    color: #408080;
    background-color: rgba(255, 255, 255, 1);
    transition: .5s;
    font-weight: 1000;
    font-size: large;
}

.list-item {
    height: 40px;
    line-height: 40px
}

.list-item a {
    display: block;
    text-decoration: none;
    color: #000;
}

.list-menu :hover {
    background-color: rgba(255, 255, 255, 1);
    transition: .5s;
}

@media screen and (max-width:860px) {
    .nav-container {
        display: none;
    }
}

.collection {
    height: 100px;
}

.collection p {
    font-size: 30px;
    padding: 20px;
    margin-top: 30px;
    border-bottom: 1px solid #000;
}

.board {
    background-color: #F0F0F0;
    border-radius: 6px;
    height: 1000px;
}

.productViewDetail h3 {
    margin-left: 3%;
}

.productViewDetail h4 {
    margin-left: 7%;
    line-height: 45px;
}

p {
    font-weight: 1000;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    padding: 10px 20px;
    border: 2px solid #408080;
    border-radius: 10px;
    background: white;
    margin-left: 17%;
    line-height: 80px;
    font-size: medium;
    font-weight: 1000;
}

.card:hover {
    box-shadow: 0 0 20px 1px Gray;
}

.card-title {
    margin-top: -5%;
    font-size: larger;
}

.card-txt {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.card:hover .card-title {
    text-shadow: 1px 1px 5px DimGray;
}

.card:hover .card-txt,
.map {
    height: 80%;
    opacity: 1;
    overflow: auto;
}

.card-txt {
    line-height: 50px;
    transition: all .3s;
}

.edit {
    width: 70px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #408080;
    font-weight: 1000;
    margin-left: 200px;
    margin-right: 9px;
}

.remove {
    width: 70px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #CE0000;
    font-weight: 1000;
}

.edit:hover {
    background-color: #408080;
    color: white;
    transition: 0.5s;
}

.remove:hover {
    background-color: #CE0000;
    color: white;
    transition: 0.5s;
}

.map {
    width: 300px;
    height: 200px;
    margin-left: 45%;
    margin-top: -10%;
    border: 0;
    border-radius: 5px;
}


.cursor {
    cursor: pointer;
    text-align: center;
}

.custom-file-input {
    display: none;
}

.img-thumbnail {
    cursor: pointer;
}